node_modules/
*.log
*.pyc
__pycache__/
.env
instance/
*.db
migrations/versions/*.pyc
migrations/versions/*.py
frontend/build/
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/out/
frontend/.expo/
frontend/.expo-shared/
frontend/.DS_Store
